In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import plotly.graph_objects as go

In [2]:
#menampilkan dataframe
data_covid = pd.read_csv('/content/drive/MyDrive/porto/covid_19_indonesia_time_series_all.csv')
data_covid.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

##DATA PREPERATION

In [3]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [4]:
#mengubah data type pada feature Date menjadi datetime
import datetime as dt
NOW = dt.datetime(2020, 2, 2)
data_covid['Date'] = pd.to_datetime(data_covid['Date'])

In [5]:
data_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  datetime64[ns]
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(12), object(11)
memory usage: 6.3+ MB

##DATA CLEANING

In [10]:
#cek null dalam persen data
data_covid.isnull().mean()*100

Date                             0.000000
Location ISO Code                0.000000
Location                         0.000000
New Cases                        0.000000
New Deaths                       0.000000
New Recovered                    0.000000
New Active Cases                 0.000000
Total Cases                      0.000000
Total Deaths                     0.000000
Total Recovered                  0.000000
Total Active Cases               0.000000
Location Level                   0.000000
City or Regency                100.000000
Province                         0.000000
Country                          0.000000
Continent                        0.000000
Island                           0.000000
Time Zone                        0.000000
Special Status                  85.647318
Total Regencies                  0.000000
Total Cities                     2.821821
Total Districts                  0.000000
Total Urban Villages             2.835608
Total Rural Villages             2.950503
Area (km2)                       0.000000
Population                       0.000000
Population Density               0.000000
Longitude                        0.000000
Latitude                         0.000000
New Cases per Million            0.000000
Total Cases per Million          0.000000
New Deaths per Million           0.000000
Total Deaths per Million         0.000000
Total Deaths per 100rb           0.000000
Case Fatality Rate               0.000000
Case Recovered Rate              0.000000
Growth Factor of New Cases       5.455214
Growth Factor of New Deaths     11.337837
dtype: float64

In [11]:
#cek null dalam persen data
data_covid.isna().mean()*100

Date                             0.000000
Location ISO Code                0.000000
Location                         0.000000
New Cases                        0.000000
New Deaths                       0.000000
New Recovered                    0.000000
New Active Cases                 0.000000
Total Cases                      0.000000
Total Deaths                     0.000000
Total Recovered                  0.000000
Total Active Cases               0.000000
Location Level                   0.000000
City or Regency                100.000000
Province                         0.000000
Country                          0.000000
Continent                        0.000000
Island                           0.000000
Time Zone                        0.000000
Special Status                  85.647318
Total Regencies                  0.000000
Total Cities                     2.821821
Total Districts                  0.000000
Total Urban Villages             2.835608
Total Rural Villages             2.950503
Area (km2)                       0.000000
Population                       0.000000
Population Density               0.000000
Longitude                        0.000000
Latitude                         0.000000
New Cases per Million            0.000000
Total Cases per Million          0.000000
New Deaths per Million           0.000000
Total Deaths per Million         0.000000
Total Deaths per 100rb           0.000000
Case Fatality Rate               0.000000
Case Recovered Rate              0.000000
Growth Factor of New Cases       5.455214
Growth Factor of New Deaths     11.337837
dtype: float64

In [12]:
#drop kolom yang memiliki hasil persentasenya 100
data_covid = data_covid.drop('City or Regency', axis=1)

In [13]:
#inspect feature'Special Status'
data_covid['Special Status'].value_counts()

Daerah Khusus             1854
Daerah Khusus Ibu Kota     642
Daerah Istimewa            627
Name: Special Status, dtype: int64

In [14]:
data_covid = data_covid.drop('Special Status', axis=1)

In [24]:
#inspect feature 'Growth Factor of New Cases', 'Growth Factor of New Deaths'
data_covid[['Growth Factor of New Cases', 'Growth Factor of New Deaths']].head(10)

   Growth Factor of New Cases  Growth Factor of New Deaths
0                         NaN                          NaN
1                         1.0                          1.0
2                         NaN                          NaN
3                         NaN                          NaN
4                         1.0                          1.0
5                         0.0                          1.0
6                         NaN                          NaN
7                         0.0                          1.0
8                         1.0                          1.0
9                         1.0                          1.0

In [25]:
#mengganti NaN pada feature 'Growth Factor of New Cases', 'Growth Factor of New Deaths' dengan 0
data_covid['Growth Factor of New Cases'] = data_covid['Growth Factor of New Cases'].fillna(float(0))
data_covid['Growth Factor of New Deaths'] = data_covid['Growth Factor of New Deaths'].fillna(float(0))

In [27]:
#inspect feature 'Province', 'Island','Time Zone'
data_covid[['Province', 'Island','Time Zone']].head(10)

      Province    Island  Time Zone
0  DKI Jakarta      Jawa  UTC+07:00
1  DKI Jakarta      Jawa  UTC+07:00
2       Unkown    Unkown     Unkown
3         Riau  Sumatera  UTC+07:00
4  DKI Jakarta      Jawa  UTC+07:00
5       Unkown    Unkown     Unkown
6   Jawa Barat      Jawa  UTC+07:00
7         Riau  Sumatera  UTC+07:00
8  DKI Jakarta      Jawa  UTC+07:00
9       Unkown    Unkown     Unkown

In [28]:
#mengganti NaN of Province, Island, Time Zone menjadi Unknown
data_covid.update(data_covid[['Province', 'Island', 'Time Zone']].fillna('Unkown'))

In [29]:
data_covid[['Province','Total Cities', 'Total Urban Villages','Total Rural Villages']].tail(50)

,Province,Total Cities,Total Urban Villages,Total Rural Villages
21709,Kalimantan Selatan,2.0,144.0,1864.0
21710,Kalimantan Tengah,1.0,139.0,1432.0
21711,Kalimantan Timur,3.0,197.0,841.0
21712,Kalimantan Utara,1.0,35.0,447.0
21713,Kepulauan Bangka Belitung,1.0,82.0,309.0
21714,Kepulauan Riau,2.0,142.0,275.0
21715,Lampung,2.0,205.0,2435.0
21716,Maluku,2.0,35.0,1198.0
21717,Nusa Tenggara Barat,2.0,145.0,995.0
21718,Nusa Tenggara Timur,1.0,327.0,3026.0
21719,Papua,1.0,110.0,5411.0
21720,Papua Barat,1.0,95.0,1742.0
21721,Riau,2.0,268.0,1591.0
21722,Sulawesi Barat,0.0,73.0,575.0
21723,Sulawesi Selatan,3.0,792.0,2255.0
21724,Sulawesi Tengah,1.0,175.0,1842.0
21725,Sulawesi Tenggara,2.0,377.0,1911.0
21726,Sulawesi Utara,4.0,332.0,1507.0
21727,Sumatera Barat,7.0,230.0,928.0
21728,Sumatera Selatan,4.0,387.0,2853.0
21729,Sumatera Utara,8.0,693.0,5417.0
21730,Aceh,5.0,0.0,6497.0
21731,Bali,1.0,80.0,636.0
21732,Banten,4.0,313.0,1238.0
21733,DKI Jakarta,5.0,267.0,0.0
21734,Daerah Istimewa Yogyakarta,1.0,46.0,392.0
21735,Unkown,98.0,8488.0,74953.0
21736,Jambi,2.0,163.0,1399.0
21737,Jawa Barat,9.0,645.0,5312.0
21738,Jawa Tengah,6.0,753.0,7809.0
21739,Jawa Timur,9.0,777.0,7724.0
21740,Kalimantan Barat,2.0,99.0,2031.0
21741,Kalimantan Selatan,2.0,144.0,1864.0
21742,Kalimantan Tengah,1.0,139.0,1432.0
21743,Kalimantan Timur,3.0,197.0,841.0
21744,Kepulauan Bangka Belitung,1.0,82.0,309.0
21745,Lampung,2.0,205.0,2435.0
21746,Nusa Tenggara Barat,2.0,145.0,995.0
21747,Nusa Tenggara Timur,1.0,327.0,3026.0
21748,Papua,1.0,110.0,5411.0
21749,Papua Barat,1.0,95.0,1742.0
21750,Riau,2.0,268.0,1591.0
21751,Sulawesi Selatan,3.0,792.0,2255.0
21752,Sulawesi Tengah,1.0,175.0,1842.0
21753,Sulawesi Tenggara,2.0,377.0,1911.0
21754,Sulawesi Utara,4.0,332.0,1507.0
21755,Sumatera Barat,7.0,230.0,928.0
21756,Sumatera Selatan,4.0,387.0,2853.0
21757,Sumatera Utara,8.0,693.0,5417.0
21758,Unkown,98.0,8488.0,74953.0

In [30]:
##mengganti NaN pada feature 'Province','Total Cities', 'Total Urban Villages','Total Rural Villages' dengan 0
data_covid['Total Cities'] = data_covid['Total Cities'].fillna(float(0))
data_covid['Total Urban Villages'] = data_covid['Total Urban Villages'].fillna(float(0))
data_covid['Total Rural Villages'] = data_covid['Total Rural Villages'].fillna(float(0))

In [32]:
#hasil dari data cleaning, bahwa tidak ditemukan feature yang kosong, null, atau NaN
data_covid.isna().mean()*100

Date                           0.0
Location ISO Code              0.0
Location                       0.0
New Cases                      0.0
New Deaths                     0.0
New Recovered                  0.0
New Active Cases               0.0
Total Cases                    0.0
Total Deaths                   0.0
Total Recovered                0.0
Total Active Cases             0.0
Location Level                 0.0
Province                       0.0
Country                        0.0
Continent                      0.0
Island                         0.0
Time Zone                      0.0
Total Regencies                0.0
Total Cities                   0.0
Total Districts                0.0
Total Urban Villages           0.0
Total Rural Villages           0.0
Area (km2)                     0.0
Population                     0.0
Population Density             0.0
Longitude                      0.0
Latitude                       0.0
New Cases per Million          0.0
Total Cases per Million        0.0
New Deaths per Million         0.0
Total Deaths per Million       0.0
Total Deaths per 100rb         0.0
Case Fatality Rate             0.0
Case Recovered Rate            0.0
Growth Factor of New Cases     0.0
Growth Factor of New Deaths    0.0
dtype: float64